[auth0]
auth_domain   = "${auth0_auth_domain}"
client_id     = "${auth0_client_id}"
client_secret = "${auth0_client_secret}"
audience      = "${auth0_audience}"

[auth0.oauth2]
redirect_uri  = "${auth0_redirect_uri}"
scope         = "${auth0_scope}"
auth_endpoint = "authorize"
token_endpoint = "oauth/token"
